
.section{
    padding-top: 3%;
}
.section .info{
    height:11%;
    width:100%;
    padding:1% 5%;
    box-sizing: border-box;
}
#username,#pwd{
    height:100%;
    width:100%;
    border:none;
    padding:0 4%;
    box-sizing: border-box;
    border-radius: 4px;
}
.section .infoPwd{
    display: table;
    padding-left:9%;
}
.infoPwd label,.infoPwd a{
    display: table-cell;
    vertical-align: middle;
}
#login,#register{
    display: table;
    height:100%;
    width:100%;
    font-size:20px;
    color:#fff;
    border-radius: 8px;
    text-align: center;
}
#login span,#register span{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width:100%;
}
#login{
    background:#c80708;
}
#register{
    background:#404040;
}